src/conf/xml-resources/web-service-references/amazonConnection/wsdl/52.37.83.173_9901/amazonConnection.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://amazonconnection/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://amazonconnection/" name="ButikSøgningImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://amazonconnection/" schemaLocation="http://52.37.83.173:9901/amazonConnection?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="sayHello">
<part name="parameters" element="tns:sayHello"></part>
</message>
<message name="sayHelloResponse">
<part name="parameters" element="tns:sayHelloResponse"></part>
</message>
<message name="getAdresses">
<part name="parameters" element="tns:getAdresses"></part>
</message>
<message name="getAdressesResponse">
<part name="parameters" element="tns:getAdressesResponse"></part>
</message>
<message name="ConvertAddress">
<part name="parameters" element="tns:ConvertAddress"></part>
</message>
<message name="ConvertAddressResponse">
<part name="parameters" element="tns:ConvertAddressResponse"></part>
</message>
<message name="ConverAddress">
<part name="parameters" element="tns:ConverAddress"></part>
</message>
<message name="ConverAddressResponse">
<part name="parameters" element="tns:ConverAddressResponse"></part>
</message>
<message name="getRoute">
<part name="parameters" element="tns:getRoute"></part>
</message>
<message name="getRouteResponse">
<part name="parameters" element="tns:getRouteResponse"></part>
</message>
<message name="getTravelTime">
<part name="parameters" element="tns:getTravelTime"></part>
</message>
<message name="getTravelTimeResponse">
<part name="parameters" element="tns:getTravelTimeResponse"></part>
</message>
<message name="getDistance">
<part name="parameters" element="tns:getDistance"></part>
</message>
<message name="getDistanceResponse">
<part name="parameters" element="tns:getDistanceResponse"></part>
</message>
<message name="getPrice">
<part name="parameters" element="tns:getPrice"></part>
</message>
<message name="getPriceResponse">
<part name="parameters" element="tns:getPriceResponse"></part>
</message>
<message name="login">
<part name="parameters" element="tns:login"></part>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"></part>
</message>
<message name="getTimeAndDate">
<part name="parameters" element="tns:getTimeAndDate"></part>
</message>
<message name="getTimeAndDateResponse">
<part name="parameters" element="tns:getTimeAndDateResponse"></part>
</message>
<portType name="ButikSøgning">
<operation name="sayHello">
<input wsam:Action="http://amazonconnection/ButikSøgning/sayHelloRequest" message="tns:sayHello"></input>
<output wsam:Action="http://amazonconnection/ButikSøgning/sayHelloResponse" message="tns:sayHelloResponse"></output>
</operation>
<operation name="getAdresses">
<input wsam:Action="http://amazonconnection/ButikSøgning/getAdressesRequest" message="tns:getAdresses"></input>
<output wsam:Action="http://amazonconnection/ButikSøgning/getAdressesResponse" message="tns:getAdressesResponse"></output>
</operation>
<operation name="ConvertAddress">
<input wsam:Action="http://amazonconnection/ButikSøgning/ConvertAddressRequest" message="tns:ConvertAddress"></input>
<output wsam:Action="http://amazonconnection/ButikSøgning/ConvertAddressResponse" message="tns:ConvertAddressResponse"></output>
</operation>
<operation name="ConverAddress">
<input wsam:Action="http://amazonconnection/ButikSøgning/ConverAddressRequest" message="tns:ConverAddress"></input>
<output wsam:Action="http://amazonconnection/ButikSøgning/ConverAddressResponse" message="tns:ConverAddressResponse"></output>
</operation>
<operation name="getRoute">
<input wsam:Action="http://amazonconnection/ButikSøgning/getRouteRequest" message="tns:getRoute"></input>
<output wsam:Action="http://amazonconnection/ButikSøgning/getRouteResponse" message="tns:getRouteResponse"></output>
</operation>
<operation name="getTravelTime">
<input wsam:Action="http://amazonconnection/ButikSøgning/getTravelTimeRequest" message="tns:getTravelTime"></input>
<output wsam:Action="http://amazonconnection/ButikSøgning/getTravelTimeResponse" message="tns:getTravelTimeResponse"></output>
</operation>
<operation name="getDistance">
<input wsam:Action="http://amazonconnection/ButikSøgning/getDistanceRequest" message="tns:getDistance"></input>
<output wsam:Action="http://amazonconnection/ButikSøgning/getDistanceResponse" message="tns:getDistanceResponse"></output>
</operation>
<operation name="getPrice">
<input wsam:Action="http://amazonconnection/ButikSøgning/getPriceRequest" message="tns:getPrice"></input>
<output wsam:Action="http://amazonconnection/ButikSøgning/getPriceResponse" message="tns:getPriceResponse"></output>
</operation>
<operation name="login">
<input wsam:Action="http://amazonconnection/ButikSøgning/loginRequest" message="tns:login"></input>
<output wsam:Action="http://amazonconnection/ButikSøgning/loginResponse" message="tns:loginResponse"></output>
</operation>
<operation name="getTimeAndDate">
<input wsam:Action="http://amazonconnection/ButikSøgning/getTimeAndDateRequest" message="tns:getTimeAndDate"></input>
<output wsam:Action="http://amazonconnection/ButikSøgning/getTimeAndDateResponse" message="tns:getTimeAndDateResponse"></output>
</operation>
</portType>
<binding name="ButikSøgningImplPortBinding" type="tns:ButikSøgning">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="sayHello">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAdresses">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ConvertAddress">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ConverAddress">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getRoute">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getTravelTime">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getDistance">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPrice">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getTimeAndDate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="ButikSøgningImplService">
<port name="ButikSøgningImplPort" binding="tns:ButikSøgningImplPortBinding">
<soap:address location="http://52.37.83.173:9901/amazonConnection"></soap:address>
</port>
</service>
</definitions>